<div class="timeee alert alert-secondary">
    salut on est le {{ "now"|date('Y-m-d H:i:s') }}
</div>
{#<script>#}
{#    const timee=document.querySelector("div.timeee");#}

{#    ;#}
{#    setInterval(function (){#}
{#            timee.innerHTML+="";#}
{#        },1000);#}
{#</script>#}